name: Build and Push Docker Container
on: push
jobs:
  # build-container:
  #   name: Build Docker build-container
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout repository
  #       uses: actions/checkout@v3
  #     - name: Login to Docker Hub
  #       uses: docker/login-action@v3
  #       with:
  #         username: ${{ secrets.DOCKERHUB_USERNAME }}
  #         password: ${{ secrets.DOCKERHUB_TOKEN }}
  #     - name: Build and Push Docker image
  #       uses: docker/build-push-action@v4
  #       with:
  #         context: .
  #         push: true
  #         tags: demoniiexe/actions-frontend:latest
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    # needs: build-container
    
    steps:
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_9D7B39E17C7F4770863461D31CE6EEB4 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_FFD38DFBFAB84F41AAF4146B3216EC12 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_4D9EEAAA8EC84842B29ED67F343AA9CE }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'frontend-ycs'
          slot-name: 'Production'
          images: demoniiexe/actions-frontend:${{ github.sha }}'
          
      